.login-wrapper {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-card {
  background: transparent;
  padding: 40px;
  width: 380px;
  border-radius: 12px;
  text-align: center;
  color: white;
}

.title {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 5px;
}

.subtitle {
  font-size: 15px;
  opacity: 0.8;
  margin-bottom: 25px;
}

.label {
  display: block;
  text-align: left;
  margin-top: 12px;
  font-size: 15px;
}

.input {
  width: 100%;
  padding: 12px;
  margin-top: 5px;
  border-radius: 8px;
  border: none;
  background: #2A2A2D;
  color: white;
  font-size: 15px;
  outline: none;
}

.input:focus {
  background: #323234;
}

.error {
  color: #ff5a5a;
  font-size: 14px;
  margin-top: 12px;
}

.login-btn {
  margin-top: 25px;
  width: 100%;
  padding: 12px;
  border: none;
  background-color: #F2D57E;
  font-size: 17px;
  border-radius: 30px;
  cursor: pointer;
  transition: 0.2s;
  font-weight: bold;
}

.login-btn:hover {
  background: #ffe08f;
}

.logo-wrapper {
  margin: 0;
  padding: 0;
  width: auto;
  height: auto;
}

.logo {
  margin: 0;
  padding: 0;
  width: 250px;
  height: auto;
}

.background {
  background-color: black;
  margin-top: -20px;

}

.welcome {
  font-size: 25px !important;
  font-weight: bold;
  margin-top: 20px;
  text-justify: left;
  text-align: left;
}

.footer {
  width: 100%;
  height: 5px;
  text-align: center;
  padding: 20px 0;
  background-color: transparent;
  color: #ccc;
  margin-top: 40px;
  font-size: 14px;
}

.footer p {
  margin: 0;
}

h3 {
  margin-top: 30px;
  font-size: 15px;
  color: #323234;
}

.register {
  font-weight: bold;
  cursor: pointer;
}

.register:hover {
  transform: scale(1.05);

}