<div class="logo-wrapper">
  <div class="logo-container">
    <div class="left-placeholder"></div>
    <img src="assets/marca.png" alt="GrooveRoom Logo" class="logo-img" routerLink="/home">
    <img [src]="userPhoto" alt="user" class="user-img" routerLink="/user">
  </div>
  <nav class="navbar navbar-dark bg-dark navbar-groove justify-content-center montserrat-letra">
    <div class="container-fluid d-flex flex-row justify-content-center align-items-center">
      <a class="nav-link  px-3 home-hover" routerLink="/home">Home</a>
      <a class="nav-link  px-3 album-hover" routerLink="/albums">Albums</a>
      <a class="nav-link  px-3 post-hover post" routerLink="/post">Recomendaciones</a>

    </div>
  </nav>
</div>