<footer class="footer mt-5">

  <div class="footer-content container">

    <!-- Logo -->
    <div class="footer-left logo-container">
      <img src="assets/marca.png" class="footer-logo" alt="GrooveRoom">
    </div>
    <!-- Redes -->
    <div class="footer-socials">
      <a href="#"><i class="fab fa-instagram"></i></a>
      <a href="#"><i class="fab fa-twitter"></i></a>
      <a href="#"><i class="fab fa-github"></i></a>
    </div>
  </div>
  <div class="footer-bottom">
    © 2025 GrooveRoom
  </div>
</footer>
