.profile-pic-small {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  object-fit: cover;
  border: 1px solid rgba(255, 255, 255, 0.4);
}

.post-wrapper {
  max-width: 75%;
  margin: 20px auto;
}

.popular-bar {
  padding: 8px 0px;
  border-radius: 8px;
  margin-bottom: 4px;
}

.popular-title {
  color: white;
  font-size: 25px;
  font-weight: bold;
  margin: 0;
}

.divider {
  width: 100%;
  height: 1px;
  background-color: #ffffff71;
}

.post-item {
  margin: 0;
  padding: 0;
  background: transparent !important;
}

.post-content {
  padding: 18px 0px;
  color: white;
}

.header-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.song-title {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
}

.user-name {
  font-size: 18px;
  color: #F2D57E;
  margin: 0;
}

.description {
  font-size: 17px;
  margin: 12px 0;
  opacity: 0.9;
}

.link {
  color: #F2D57E;
  font-size: 16px;
  margin-bottom: 10px;
  display: inline-block;
}

.link:hover {
  text-decoration: underline;
}

.like-row {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-top: 12px;
}

.likes-count {
  font-size: 15px;
  opacity: 0.8;
}

.artist {
  opacity: 0.8;
  font-size: 18px;
  color: white;
}